{% extends 'base/base.twig' %}

{% block body_content %}
<main>
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-6-tablet is-6-desktop is-4-widescreen is-4-fullhd">
                        <div class="box">
                            <figure class="has-margin-y-medium">
                                {% if _white_label.banner_extern %}
                                    <div class="has-text-centered">
                                        <img src="{{ _white_label.banner_extern }}" style="max-height: 10rem" alt="logo">
                                    </div>
                                {% else %}
                                    <img src="theme/otd/assets/img/{{ _app.theme.is_dark_mode ? 'dark/' }}keyhelp{{ _app.pro ? '-pro' }}.svg?{{ _app.cache_control }}" alt="logo">
                                {% endif %}
                            </figure>

                            {% include 'includes/events.twig' %}

                            <div class="has-margin-top-medium"></div>

                            {% block content %}{% endblock %}
                        </div>

                        <p class="has-text-centered is-size-7 has-text-grey-lighter">
                            {{ _white_label.footer ? _white_label.footer|raw : _app.footer|raw }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
