{% extends 'base/intern.twig' %}



{% block page_scripts %}
    <script src="/theme/otd/assets/js/page_backup_repository.js?{{ _app.cache_control }}"></script>
{% endblock %}



{% block content %}
    {% import "macros/macros.twig" as macros %}
    {% import "macros/forms.twig" as forms %}

	{% include 'includes/card_start.twig' %}

    <form id="form-repository-settings" action="?page={{ _app.page }}&action={{ _action }}" method="post" autocomplete="off">
        <input type="hidden" name="submit" value="1">
        <input type="hidden" name="id" value="{{ _id }}">

        {{ forms.input_wrapped({
            'label': name,
            'name': 'name',
            'type': 'text',
            'value': _name,
            'is_required': true
        }) }}

        <hr class="has-margin-large">

        <div class="has-text-centered">
            {{ forms.label_wrapped({
                'label': repository_settings,
            }) }}
        </div>

        {{ forms.label_wrapped({
            'help': repository_settings_help
        }) }}

        {% include 'includes/form_password.twig' with { '_leave_empty': _action == 'edit' } %}

        {{ forms.input_wrapped({
            'label': max_snapshots,
            'help': max_snapshots_help,
            'name': 'max_snapshots',
            'type': 'number',
            'value': _max_snapshots,
            'min': 1,
        }) }}

        <hr class="has-margin-large">

        <div class="has-text-centered">
            {{ forms.label_wrapped({
                'label': storage_settings,
            }) }}
        </div>

        {{ forms.select_wrapped({
            'label': storage_type,
            'name': 'storage_type',
            'options': _storage_types,
            'selected': _storage_type,
        }) }}

        <div id="app-storage-settings-local" style="display: none">
            {% if _app.area == 'admin' %}
                {{ forms.input_wrapped({
                    'label': directory,
                    'help': local_directory_admin_help,
                    'name': 'local_path',
                    'value': _local.path,
                    'type': 'text',
                }) }}
            {% else %}
                {% include 'includes/form_browse_directory.twig' with {
                    '_name': 'local_path',
                    '_value': _local.path,
                    '_help': local_directory_user_help,
                    '_purpose': 'files',
                    '_append_directory': '/files',
                } %}
            {% endif %}
        </div>

        <div id="app-storage-settings-ftp" style="display: none">
            {{ forms.input_wrapped({
                'label': host,
                'help': host_help,
                'name': 'ftp_host',
                'type': 'text',
                'is_required': true,
                'value': _ftp.host,
            }) }}


            {{ forms.input_wrapped({
                'label': port,
                'help': port_help,
                'name': 'ftp_port',
                'type': 'number',
                'value': _ftp.port,
                'min': 0,
                'max': 65535
            }) }}

            {{ forms.input_wrapped({
                'label': username,
                'name': 'ftp_user',
                'type': 'text',
                'is_required': true,
                'value': _ftp.user,
            }) }}

            {{ forms.input_wrapped({
                'label': password,
                'help': _action == 'edit' ? leave_empty,
                'name': 'ftp_pass',
                'type': 'password',
                'value': _ftp.pass,
                'is_required': _action == 'add',
                'autocomplete': 'new-password',
                'addons': {
                    'right': {
                        'type': 'action',
                        'label': show,
                        'action': 'app-show-password'
                    }
                }
            }) }}

            {{ forms.radio_wrapped({
                'label': ftp_encryption,
                'options': [
                    {
                        'label': ftp_explicit,
                        'name': 'ftp_encryption',
                        'value': 'explicit',
                        'is_checked': _ftp.encryption == 'explicit'
                    },
                    {
                        'label': ftp_implicit,
                        'name': 'ftp_encryption',
                        'value': 'implicit',
                        'is_checked': _ftp.encryption == 'implicit'
                    },
                    {
                        'label': ftp_plain,
                        'name': 'ftp_encryption',
                        'value': 'plain',
                        'is_checked': _ftp.encryption == 'plain'
                    },
                ]
            }) }}

            {{ forms.checkbox_wrapped({
                'label': ftp_no_check_certificate,
                'options': [
                    {
                        'label': enabled,
                        'name': 'ftp_no_check_certificate',
                        'value': 1,
                        'is_checked': _ftp.no_check_certificate
                    }
                ]
            }) }}

            {{ forms.input_wrapped({
                'label': directory,
                'name': 'ftp_path',
                'value': _ftp.path,
                'type': 'text',
            }) }}
        </div>

        <div id="app-storage-settings-sftp" style="display: none">
            {{ forms.input_wrapped({
                'label': host,
                'help': host_help,
                'name': 'sftp_host',
                'type': 'text',
                'is_required': true,
                'value': _sftp.host,
            }) }}

            {{ forms.input_wrapped({
                'label': port,
                'help': port_help,
                'name': 'sftp_port',
                'type': 'number',
                'value': _sftp.port,
                'min': 0,
                'max': 65535
            }) }}

            {{ forms.input_wrapped({
                'label': username,
                'name': 'sftp_user',
                'type': 'text',
                'is_required': true,
                'value': _sftp.user,
            }) }}

            {{ forms.select_wrapped({
                'label': auth_method,
                'name': 'sftp_auth_method',
                'options': { 'password': password, 'key': public_private_key },
                'selected': _sftp.auth_method,
            }) }}

            <div id="app-sftp-auth-password">
                {{ forms.input_wrapped({
                    'label': password,
                    'help': _action == 'edit' ? leave_empty,
                    'name': 'sftp_pass',
                    'type': 'password',
                    'value': _sftp.pass,
                    'is_required': _action == 'add',
                    'autocomplete': 'new-password',
                    'addons': {
                        'right': {
                            'type': 'action',
                            'label': show,
                            'action': 'app-show-password'
                        }
                    }
                }) }}
            </div>

            <div id="app-sftp-auth-key" class="has-margin-bottom-medium" style="display: none">
                <input type="hidden" name="sftp_private_key" value="{{ _sftp.private_key }}">

                {{ forms.label_wrapped({
                    'label': public_key,
                    'help': public_key_help,
                }) }}

                <div id="app-sftp-key-not-exists" style="display:none">
                    {{ forms.button({
                        'label': create_public_key,
                        'style': 'primary',
                        'id': 'app-sftp-create-key',
                        'type': 'button',
                    }) }}
                </div>

                <div id="app-sftp-key-exists" style="display:none">
                    {{ forms.input_wrapped({
                        'name': 'sftp_public_key',
                        'value': _sftp.public_key,
                        'type': 'text',
                        'is_readonly': true,
                        'addons': {
                            'right': [
                                {
                                    'button': {
                                        'type': 'button',
                                        'label': copy,
                                        'style': 'primary',
                                        'class': 'app-copy-to-clipboard'
                                    }
                                },{
                                    'button': {
                                        'type': 'button',
                                        'label': remove,
                                        'style': 'secondary',
                                        'id': 'app-sftp-remove-key'
                                    }
                                }
                            ]
                        }
                    }) }}
                </div>
            </div>

            {{ forms.input_wrapped({
                'label': directory,
                'name': 'sftp_path',
                'value': _sftp.path,
                'type': 'text',
            }) }}
        </div>

        <div id="app-storage-settings-dropbox" style="display: none">

            {{ forms.label_wrapped({
                'label': request_access_code,
                'help': dropbox_help,
            }) }}

            <div class="has-margin-top-medium has-margin-bottom-large">
                {{ forms.button({
                    'label': request_access_code,
                    'style': 'primary',
                    'icon': 'fas fa-key',
                    'url': 'https://www.dropbox.com/oauth2/authorize/?client_id=' ~ _dropbox_client_id ~ '&token_access_type=offline&response_type=code',
                    'is_new_tab': true
                }) }}
            </div>

            {{ forms.input_wrapped({
                'label': access_code,
                'help': _action == 'edit' ? access_code_help,
                'name': 'dropbox_access_code',
                'type': 'text',
                'is_required': _action == 'add',
                'value': _dropbox.access_code,
            }) }}

            {{ forms.input_wrapped({
                'label': directory,
                'name': 'dropbox_path',
                'value': _dropbox.path,
                'type': 'text',
            }) }}
        </div>

        <div id="app-storage-settings-webdav" style="display: none">
            {{ forms.input_wrapped({
                'label': webdav_url,
                'name': 'webdav_url',
                'type': 'text',
                'is_required': true,
                'value': _webdav.url,
            }) }}

            {{ forms.input_wrapped({
                'label': username,
                'name': 'webdav_user',
                'type': 'text',
                'is_required': true,
                'value': _webdav.user,
            }) }}

            {{ forms.input_wrapped({
                'label': password,
                'help': _action == 'edit' ? leave_empty,
                'name': 'webdav_pass',
                'type': 'password',
                'value': _webdav.pass,
                'is_required': _action == 'add',
                'autocomplete': 'new-password',
                'addons': {
                    'right': {
                        'type': 'action',
                        'label': show,
                        'action': 'app-show-password'
                    }
                }
            }) }}

            {{ forms.input_wrapped({
                'label': directory,
                'name': 'webdav_path',
                'value': _webdav.path,
                'type': 'text',
            }) }}
        </div>

        {% include 'includes/cta.twig' with { '_back': { 'target': _app.page }, '_confirm': true } %}
    </form>

    {% include 'includes/card_end.twig' %}

{#######################################################################################################################
    Modals
#######################################################################################################################}

    <div id="app-modal-save-settings" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{ repository_setup }}</p>
            </header>
            <div class="modal-card-body">
                <div class="has-text-centered">
                    <p>{{ repository_setup_help|raw }}</p>
                    <div class="has-margin-top-medium">
                        <div id="app-anti-lockout-loading" class="is-loading has-padding-large">
                            {{ processing }}
                        </div>
                    </div>
                </div>
            </div>
            <footer class="modal-card-foot">
                <!-- it looks better with footer ;) -->
            </footer>
        </div>
    </div>

{% endblock %}