{% extends 'base/intern.twig' %}

{% block page_scripts %}
    <script src="/theme/otd/assets/js/page_bulk_operations.js?{{ _app.cache_control }}"></script>
{% endblock %}

{% block content %}
    {% import "macros/macros.twig" as macros %}
    {% import "macros/forms.twig" as forms %}

    {# Intro #}
    <p class="has-margin-bottom-large">
        {{ rewrite_client_configs_help|raw }}
    </p>

    {% include 'includes/card_start.twig' %}

        <form action="?page={{ _app.page }}&action={{ _action }}" method="post" autocomplete="off">
            <input type="hidden" name="submit" value="1">

            {{ forms.checkbox_wrapped({
                'label': config_files,
                'help': config_files_help,
                'options': [
                    {
                        'label': web_server,
                        'name': 'is_web_server',
                        'value': '1',
                        'is_checked': _is_web_server
                    },
                    {
                        'label': dns_server,
                        'name': 'is_dns_server',
                        'value': '1',
                        'is_checked': _is_dns_server,
                    }
                ]
            }) }}

            {% include 'includes/bulk_operations_footer.twig' %}

        </form>

    {% include 'includes/card_end.twig' %}

{% endblock %}

