{% extends 'base/intern.twig' %}

{% block page_scripts %}
    <script src="/theme/otd/assets/js/page_bulk_operations.js?{{ _app.cache_control }}"></script>
{% endblock %}

{% block content %}
    {% import "macros/macros.twig" as macros %}
    {% import "macros/forms.twig" as forms %}

    {# Intro #}
    <p class="has-margin-bottom-large">
        {{ update_php_interpreter_help|raw }}
    </p>

    {% include 'includes/card_start.twig' %}

        <form action="?page={{ _app.page }}&action={{ _action }}" method="post" autocomplete="off">
            <input type="hidden" name="submit" value="1">

            {{ forms.select_wrapped({
                'label': current_version,
                'help': current_version_help,
                'name': 'php_from',
                'options': _php_from_items,
                'selected': _php_from,
            }) }}

            {{ forms.select_wrapped({
                'label': target_version,
                'help': target_version_help,
                'name': 'php_to',
                'options': _php_to_items,
                'selected': _php_to,
            }) }}

            {% include 'includes/bulk_operations_footer.twig' %}
        </form>

    {% include 'includes/card_end.twig' %}

{% endblock %}

