{% extends 'base/intern.twig' %}


{% block page_scripts %}
<script src="/theme/otd/assets/js/page_disk_overview.js?{{ _app.cache_control }}"></script>
{% endblock %}


{% block content %}
    {% import "macros/macros.twig" as macros %}
    {% import "macros/forms.twig" as forms %}


    {# Intro #}
    <p class="has-margin-bottom-large">
        {{ help_overview|raw }}
    </p>


    {# Main content #}
    {% for key, items in _disks %}

        <h2 class="title is-5 has-margin-bottom-medium {{ not loop.first ? 'has-margin-top-large' }}">
            {{ key == 'tmpfs' ? temporary_file_systems : regular_file_systems }}
        </h2>

        <div class="columns is-multiline">
            {% for item in items %}
                <div class="column is-6-tablet is-6-desktop is-6-widescreen is-4-fullhd">
                    {% include 'includes/card_start_stacked.twig' with { '_label': item.name, '_icon': 'fa-solid fa-hard-drive' } %}

                        <div class="columns is-vcentered">
                            <div class="column is-narrow">
                               <div style="width: 125px; height: 125px; margin: auto auto;">
                                    <canvas class="app-chart" data-chart="{{ item.json }}"></canvas>
                                </div>
                            </div>
                            <div class="column">
                                <table class="table is-fullwidth is-striped is-hoverable has-no-wrap">
                                    <tbody>
                                        <tr>
                                            <th>{{ mount }}</th>
                                            <td>{{ item.mount }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ file_system }}</th>
                                            <td>{{ item.file_system }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ size }}</th>
                                            <td>{{ item.size }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ reserve }}</th>
                                            <td>{{ item.reserve }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ max_available }}</th>
                                            <td>{{ item.max_available }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ free }}</th>
                                            <td>{{ item.free }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ used }}</th>
                                            <td>{{ item.used }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ usage }}</th>
                                            <td>{{ item.usage }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    {% include 'includes/card_end_stacked.twig' %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}