<hr>

<div class="has-text-centered">
    <p class="is-size-5 has-margin-bottom-medium"> {# No <h5> because it would be displayed in #fff in default theme #}
        <strong>{{ keyhelp_demo }}</strong>
    </p>

    <p>
        {{ demo_login_note }}
    </p>

    <div class="columns has-margin-top-xsmall">
        <div class="column">
            <a href="javascript:void(0)" class="app-demo-login-link has-text-link has-text-weight-bold" data-area="admin">{{ admin_area }}</a>
            <p class="has-margin-top-small">
                {{ username }}: <b>admin</b><br>
                {{ password }}: <b>admin</b>
            </p>
        </div>
        <div class="column has-equal-height">
            <a href="javascript:void(0)" class="app-demo-login-link has-text-link has-text-weight-bold" data-area="user">{{ user_area }}</a>
            <p class="has-margin-top-small">
                {{ username }}: <b>user</b><br>
                {{ password }}: <b>user</b>
            </p>
        </div>
    </div>

    <hr class="has-margin-top-small has-margin-bottom-medium">

    <div class="table-container has-margin-top-none">
        <table class="table is-narrow is-borderless is-centered">
            <tr>
                <td><a href="https://demo.keyhelp.eu" class="has-text-link" rel="nofollow noopener noreferrer" target="_blank">https://demo.keyhelp.eu</a></td>
                <td class="has-text-left">English</td>
            </tr>
            <tr>
                <td><a href="https://demo.keyhelp.de" class="has-text-link" rel="nofollow noopener noreferrer" target="_blank">https://demo.keyhelp.de</a></td>
                <td>German / Deutsch</td>
            </tr>
        </table>
    </div>

</div>